{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <img class="logo" src="">
        <nav class="navigation">
            <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
            {% if user.is_authenticated %}
                <a href="{% url 'owner_profile' %}"><i class="fa-solid fa-user"></i></a>
            {% else %}
                <a href="{% url 'login' %}?next={% url 'owner_profile' %}"><i class="fa-solid fa-user"></i></a>
            {% endif %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn-danger"><i class="fa-solid fa-right-from-bracket"></i></button>
            </form>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>