* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20 px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    margin-left: 20px;
    width: 64px;
    height: 64px;
    user-select: none;
}

.navigation {
    display: flex;            
    align-items: center;        
    justify-content: flex-start;
    gap: 10px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #F7DC6F;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
    transition: .3s;
}

.btn-danger {
    position: relative;
    font-size: 1.1em;
    color: #F7DC6F;
    font-weight: 500;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 40px;
    transition: .3s;
}

.navigation a:hover {
    color: black;
}

.btn-danger:hover{
    color: black;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 20px;
}

.log-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-url {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-info {
    margin-top: 80px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
}

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}